<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/animateCss.css" />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/swiper.bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/styles/libraries/toastify.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="applications py-5 text-center">
      <h1 class="text-center mb-4">Applications</h1>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Number</th>
              <th scope="col">Message</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <% var applications = applications || [] %>
          <tbody>
            <% applications.map((item, index)=>{ %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= item.name %></td>
              <td><%= item.number %></td>
              <td><%= item.message %></td>
              <td class="d-flex">
                <button
                  onclick="deleteApplication('<%= item.application_id %>')"
                  class="btn btn-danger ms-auto me-auto deleteProductButton"
                >
                  Detele
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="/assets/JavaScript/toastify.js"></script>
  <script>
    const deleteApplication = async (id) => {
      const option = {
        method: "delete",
      };
      let response = await fetch(`/admin/application/${id}`, option);
      response = await response.json();
      if (response.ok) {
        window.location.href = "/admin/applications";
        Toastify({
          text: "Application is deleted",
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "right", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "#198754",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
      } else {
        Toastify({
          text: response.msg,
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "right", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "#fd7e14",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
      }
    };
  </script>
</html>
