<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/animateCss.css" />
    <link rel="stylesheet" href="/assets/styles/pag.css" />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/swiper.bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/styles/libraries/toastify.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("AdminHeader.ejs") %> <% var currentPage = currentPage || "" %>
    <% var totalPage = totalPage || "" %>
    <div
      class="applications py-5 text-center totalPagebox"
      data-totalPage="<%= totalPage %>"
    >
      <span class="currentPagebox" data-currentPage="<%= currentPage %>"></span>
      <h1 class="text-center mb-4">Arizalar</h1>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ismi</th>
              <th scope="col">Number</th>
              <th scope="col">Xabar</th>
            </tr>
          </thead>
          <% var applications = applications || [] %>
          <tbody>
            <% applications.map((item, index)=>{ %>
            <tr>
              <th scope="row"><%= (currentPage-1) * 15 + index + 1 %></th>
              <td><%= item.name %></td>
              <td><%= item.number %></td>
              <td><%= item.message %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <nav
          class="mx-auto d-flex align-items-center p-0 mt-5"
          aria-label="Page navigation example"
        >
          <div class="pagination ms-auto me-auto">
            <ul class="pag-list"></ul>
          </div>
        </nav>
      </div>
    </div>
  </body>
  <script src="/assets/JavaScript/toastify.js"></script>
  <script src="/assets/JavaScript/pagination.js"></script>
</html>
