<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/libraries/animateCss.css" />
    <link
      rel="stylesheet"
      href="/assets/styles/libraries/swiper.bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/styles/libraries/toastify.css" />
    <title>Document</title>
  </head>
  <body><%- include("AdminHeader.ejs") %>
    <div class="productes py-5">
      <h1 class="text-center mb-4">Sanoatlar</h1>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Rasmi</th>
              <th scope="col">Sanoat title ru</th>
              <th scope="col">Sanoat title uz</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <% var industries = industries || [] %>
          <tbody>
            <% industries.map((item, index)=>{ %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td>
                <img
                  style="width: 100px"
                  src="/files/<%= item.industry_image %>"
                  alt="img"
                />
              </td>
              <td><%= item.industry_title_ru %></td>
              <td><%= item.industry_title_uz %></td>
              <td class="d-flex">
                <a
                  href="/admin/industry/<%= item.industry_id %>"
                  class="btn btn-warning me-2"
                  >Edit</a
                >
                <button
                  onclick="deleteIndustry('<%= item.industry_id %>')"
                  class="btn btn-danger deleteInustryButton"
                >
                  Detele
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="/assets/javaScript/toastify.js"></script>
  <script>
    const deleteIndustry = async (id) => {
      const option = {
        method: "delete",
      };
      let response = await fetch(`/admin/industry/${id}`, option);
      response = await response.json();
      if (response.ok) {
        window.location.href = "/admin/industries";
        Toastify({
          text: "Industry is deleted",
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "right", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "#198754",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
      } else {
        Toastify({
          text: response.msg,
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "right", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "#fd7e14",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
      }
    };
  </script>
</html>
