<footer class="footer">
  <div class="footer_one">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
          <a class="footer_logo" href="/">
            <img src="/assets/images/logo.svg" alt="logo" />
          </a>
          <p class="footer_subtitle">
            <%= language.footer.logoText[lan] %>
          </p>
          <div class="footer_links">
            <div class="footer_links-item">
              <a href="#" target="_blank">
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 0C16.5321 0 16.9728 0.0129999 18.3586 0.0779999C19.7431 0.143 20.6856 0.3601 21.515 0.6825C22.373 1.0127 23.0958 1.4599 23.8186 2.1814C24.4796 2.83126 24.9911 3.61737 25.3175 4.485C25.6386 5.3131 25.857 6.2569 25.922 7.6414C25.9831 9.0272 26 9.4679 26 13C26 16.5321 25.987 16.9728 25.922 18.3586C25.857 19.7431 25.6386 20.6856 25.3175 21.515C24.9921 22.3831 24.4805 23.1694 23.8186 23.8186C23.1686 24.4794 22.3825 24.9909 21.515 25.3175C20.6869 25.6386 19.7431 25.857 18.3586 25.922C16.9728 25.9831 16.5321 26 13 26C9.4679 26 9.0272 25.987 7.6414 25.922C6.2569 25.857 5.3144 25.6386 4.485 25.3175C3.61702 24.9918 2.83079 24.4802 2.1814 23.8186C1.52023 23.1688 1.00871 22.3827 0.6825 21.515C0.3601 20.6869 0.143 19.7431 0.0779999 18.3586C0.0168999 16.9728 0 16.5321 0 13C0 9.4679 0.0129999 9.0272 0.0779999 7.6414C0.143 6.2556 0.3601 5.3144 0.6825 4.485C1.00781 3.61683 1.51944 2.83052 2.1814 2.1814C2.83097 1.52 3.61716 1.00845 4.485 0.6825C5.3144 0.3601 6.2556 0.143 7.6414 0.0779999C9.0272 0.0168999 9.4679 0 13 0ZM13 6.5C11.2761 6.5 9.62279 7.18482 8.40381 8.40381C7.18482 9.62279 6.5 11.2761 6.5 13C6.5 14.7239 7.18482 16.3772 8.40381 17.5962C9.62279 18.8152 11.2761 19.5 13 19.5C14.7239 19.5 16.3772 18.8152 17.5962 17.5962C18.8152 16.3772 19.5 14.7239 19.5 13C19.5 11.2761 18.8152 9.62279 17.5962 8.40381C16.3772 7.18482 14.7239 6.5 13 6.5ZM21.45 6.175C21.45 5.74402 21.2788 5.3307 20.974 5.02595C20.6693 4.7212 20.256 4.55 19.825 4.55C19.394 4.55 18.9807 4.7212 18.6759 5.02595C18.3712 5.3307 18.2 5.74402 18.2 6.175C18.2 6.60598 18.3712 7.0193 18.6759 7.32405C18.9807 7.62879 19.394 7.8 19.825 7.8C20.256 7.8 20.6693 7.62879 20.974 7.32405C21.2788 7.0193 21.45 6.60598 21.45 6.175ZM13 9.1C14.0343 9.1 15.0263 9.51089 15.7577 10.2423C16.4891 10.9737 16.9 11.9657 16.9 13C16.9 14.0343 16.4891 15.0263 15.7577 15.7577C15.0263 16.4891 14.0343 16.9 13 16.9C11.9657 16.9 10.9737 16.4891 10.2423 15.7577C9.51089 15.0263 9.1 14.0343 9.1 13C9.1 11.9657 9.51089 10.9737 10.2423 10.2423C10.9737 9.51089 11.9657 9.1 13 9.1Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
            <div class="footer_links-item">
              <a href="#" target="_blank">
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 26C5.8201 26 0 20.1799 0 13C0 5.8201 5.8201 0 13 0C20.1799 0 26 5.8201 26 13C26 20.1799 20.1799 26 13 26ZM8.957 14.521L8.9739 14.5119L10.1049 18.2429C10.2505 18.6472 10.4507 18.72 10.6938 18.6862C10.9382 18.6537 11.0669 18.5224 11.2268 18.369L12.7712 16.8766L16.0862 19.331C16.692 19.6651 17.1275 19.4922 17.2783 18.7694L19.4324 8.6008C19.6703 7.6544 19.2543 7.2748 18.5198 7.5764L5.8669 12.4644C5.0037 12.8102 5.0089 13.2938 5.7109 13.5083L8.957 14.5223V14.521Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
            <div class="footer_links-item">
              <a href="#" target="_blank">
                <svg
                  width="25"
                  height="26"
                  viewBox="0 0 25 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5 0C5.59625 0 0 5.85553 0 13.0791C0 19.6069 4.57125 25.0178 10.5475 26V16.859H7.3725V13.0791H10.5475V10.1978C10.5475 6.92017 12.4125 5.11002 15.2688 5.11002C16.6362 5.11002 18.0662 5.36506 18.0662 5.36506V8.58253H16.4912C14.9375 8.58253 14.4537 9.59093 14.4537 10.6255V13.0791H17.92L17.3662 16.859H14.4537V26C20.4287 25.0191 25 19.6056 25 13.0791C25 5.85553 19.4037 0 12.5 0Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-md-start text-center">
          <div class="footer_second_section">
            <h4 class="footer_second_section-title"><%= language.footer.company[lan] %></h4>
            <div class="footer_second_section_links">
              <a href="/about" class="footer_second_section_links-item">
                <%= language.footer.links.link1[lan] %>
              </a>
              <a href="/services" class="footer_second_section_links-item">
                <%= language.footer.links.link2[lan] %>
              </a>
              <a href="/industries" class="footer_second_section_links-item">
                <%= language.footer.links.link3[lan] %>
              </a>
              <a href="/productes" class="footer_second_section_links-item">
                <%= language.footer.links.link4[lan] %>
              </a>
              <a href="/tashkent" class="footer_second_section_links-item">
                <%= language.footer.links.link5[lan] %>
              </a>
              <a href="/uzbekistan" class="footer_second_section_links-item">
                <%= language.footer.links.link6[lan] %>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-md-start text-center">
          <div class="footer_third_section">
            <h4 class="footer_third_section-title"><%= language.footer.contact[lan] %></h4>
            <div class="footer_third_section_links">
              <div class="footer_third_section_links_item">
                <div class="footer_third_section_links_item-image">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.00065 2H14.0007C14.1775 2 14.347 2.07024 14.4721 2.19526C14.5971 2.32029 14.6673 2.48986 14.6673 2.66667V13.3333C14.6673 13.5101 14.5971 13.6797 14.4721 13.8047C14.347 13.9298 14.1775 14 14.0007 14H2.00065C1.82384 14 1.65427 13.9298 1.52925 13.8047C1.40422 13.6797 1.33398 13.5101 1.33398 13.3333V2.66667C1.33398 2.48986 1.40422 2.32029 1.52925 2.19526C1.65427 2.07024 1.82384 2 2.00065 2ZM13.334 4.82533L8.04865 9.55867L2.66732 4.81067V12.6667H13.334V4.82533ZM3.00798 3.33333L8.04132 7.77467L13.002 3.33333H3.00798Z"
                      fill="white"
                    />
                  </svg>
                </div>
                <a
                  class="footer_third_section_links_item-link"
                  href="mailto:ezozeco.medservis@mail.ru"
                  target="_blank"
                  >ezozeco.medservis@mail.ru</a
                >
              </div>
              <div class="footer_third_section_links_item">
                <div class="footer_third_section_links_item-image">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.24449 7.12133C6.87005 8.22032 7.78017 9.13044 8.87916 9.756L9.46849 8.93067C9.56326 8.79796 9.70339 8.70459 9.86236 8.66822C10.0213 8.63186 10.1881 8.65502 10.3312 8.73333C11.274 9.24862 12.3153 9.55852 13.3865 9.64267C13.5537 9.65592 13.7097 9.73169 13.8235 9.85488C13.9373 9.97807 14.0005 10.1396 14.0005 10.3073V13.282C14.0005 13.4471 13.9393 13.6063 13.8287 13.7288C13.7181 13.8513 13.566 13.9285 13.4018 13.9453C13.0485 13.982 12.6925 14 12.3338 14C6.62716 14 2.00049 9.37333 2.00049 3.66667C2.00049 3.308 2.01849 2.952 2.05515 2.59867C2.07199 2.43446 2.14914 2.28235 2.27168 2.17176C2.39422 2.06116 2.55343 1.99996 2.71849 2H5.69316C5.86086 1.99998 6.02242 2.06317 6.14561 2.17697C6.2688 2.29077 6.34457 2.44682 6.35782 2.614C6.44197 3.68519 6.75187 4.72645 7.26716 5.66933C7.34547 5.81238 7.36863 5.97916 7.33227 6.13813C7.2959 6.2971 7.20253 6.43723 7.06982 6.532L6.24449 7.12133ZM4.56316 6.68333L5.82982 5.77867C5.47034 5.00273 5.22406 4.17923 5.09849 3.33333H3.34049C3.33649 3.444 3.33449 3.55533 3.33449 3.66667C3.33382 8.63733 7.36316 12.6667 12.3338 12.6667C12.4452 12.6667 12.5565 12.6647 12.6672 12.66V10.902C11.8213 10.7764 10.9978 10.5301 10.2218 10.1707L9.31716 11.4373C8.95293 11.2958 8.59916 11.1287 8.25849 10.9373L8.21982 10.9153C6.91221 10.1711 5.82934 9.08828 5.08516 7.78067L5.06316 7.742C4.87176 7.40133 4.70468 7.04756 4.56316 6.68333Z"
                      fill="white"
                    />
                  </svg>
                </div>
                <div class="numbers">
                  <a
                    class="footer_third_section_links_item-link number"
                    href="tel:+998993539998"
                    target="_blank"
                    >+998 99 353 99 98</a
                  >
                  <a
                    class="footer_third_section_links_item-link number"
                    href="tel:+998992079998"
                    target="_blank"
                    >+998 99 207 99 98</a
                  >
                  <a
                    class="footer_third_section_links_item-link number"
                    href="tel:+998955119998"
                    target="_blank"
                    >+998 95 511 99 98</a
                  >
                </div>
              </div>
              <div class="footer_third_section_links_item">
                <div class="footer_third_section_links_item-image">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 13.933L11.3 10.633C11.9526 9.98029 12.397 9.14877 12.577 8.24354C12.7571 7.33831 12.6646 6.40002 12.3114 5.54733C11.9582 4.69463 11.36 3.96583 10.5926 3.45307C9.82519 2.94031 8.92296 2.66663 8 2.66663C7.07704 2.66663 6.17481 2.94031 5.40739 3.45307C4.63997 3.96583 4.04183 4.69463 3.68861 5.54733C3.33539 6.40002 3.24294 7.33831 3.42297 8.24354C3.603 9.14877 4.04741 9.98029 4.7 10.633L8 13.933ZM8 15.8183L3.75734 11.5756C2.91823 10.7365 2.34679 9.66741 2.11529 8.50352C1.88378 7.33964 2.0026 6.13324 2.45673 5.03689C2.91086 3.94054 3.6799 3.00347 4.66659 2.34418C5.65328 1.6849 6.81332 1.33301 8 1.33301C9.18669 1.33301 10.3467 1.6849 11.3334 2.34418C12.3201 3.00347 13.0891 3.94054 13.5433 5.03689C13.9974 6.13324 14.1162 7.33964 13.8847 8.50352C13.6532 9.66741 13.0818 10.7365 12.2427 11.5756L8 15.8183ZM8 8.66629C8.35362 8.66629 8.69276 8.52581 8.94281 8.27576C9.19286 8.02572 9.33334 7.68658 9.33334 7.33296C9.33334 6.97933 9.19286 6.64019 8.94281 6.39015C8.69276 6.1401 8.35362 5.99962 8 5.99962C7.64638 5.99962 7.30724 6.1401 7.05719 6.39015C6.80715 6.64019 6.66667 6.97933 6.66667 7.33296C6.66667 7.68658 6.80715 8.02572 7.05719 8.27576C7.30724 8.52581 7.64638 8.66629 8 8.66629ZM8 9.99962C7.29276 9.99962 6.61448 9.71867 6.11438 9.21857C5.61429 8.71848 5.33334 8.0402 5.33334 7.33296C5.33334 6.62571 5.61429 5.94743 6.11438 5.44734C6.61448 4.94724 7.29276 4.66629 8 4.66629C8.70725 4.66629 9.38552 4.94724 9.88562 5.44734C10.3857 5.94743 10.6667 6.62571 10.6667 7.33296C10.6667 8.0402 10.3857 8.71848 9.88562 9.21857C9.38552 9.71867 8.70725 9.99962 8 9.99962Z"
                      fill="white"
                    />
                  </svg>
                </div>
                <a
                  class="footer_third_section_links_item-link"
                  href="https://goo.gl/maps/jxvphn64q58wgTbA7"
                  target="_blank"
                  ><%= language.footer.location[lan] %></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_hr"></div>
  <div class="footer_info">
    <div class="container">
      <p class="footer_info-title">E’ZOZ ECO MED SERVIS</p>
      <p class="footer_info-subtitle">
        Development by
        <a href="https://noorgroup.uz" target="_bland">Noorgroup</a>
      </p>
    </div>
  </div>
</footer>

<script src="/assets/javaScript/swiper.bundle.min.js"></script>
<script src="/assets/javaScript/swiper.js"></script>
<script src="/assets/javaScript/bootstrap.bundle.min.js"></script>
<script src="/assets/javaScript/wowJs.js"></script>
<script src="/assets/javaScript/menu.js"></script>
<script src="/assets/javaScript/validation.js"></script>
<script src="/assets/javaScript/toastify.js"></script>
<script src="/assets/fetchRequests/createApplication.js"></script>
<script src="/assets/javaScript/language.js"></script>
<script src="/assets/javaScript/product_modal.js"></script>
<script>
  new WOW({
    boxClass: "wow", // default
    animateClass: "animate__animated", // default
    offset: 0, // default
    mobile: true, // default
    live: true, // default
  }).init();
</script>
</body>
</html>
